fastapi>=0.111
uvicorn[standard]>=0.29
opencv-python-headless>=4.9
Pillow>=10.3
numpy>=1.26
pandas>=2.2
easyocr>=1.7
pytesseract>=0.3.10
xgboost>=2.0
lightgbm>=4.3
scikit-learn>=1.4
imbalanced-learn>=0.12
shap>=0.45
joblib>=1.4
pyarrow>=16.0
faker>=25.0
scipy>=1.13
mlflow>=2.13
streamlit>=1.35
plotly>=5.22
fpdf2>=2.7
python-multipart>=0.0.9
pydantic>=2.7
